
<div id="weather">
  <md-card>
    <md-card-header md-flex-xsmall >
      <div class="md-title">Current weather and forecasts in your city</div>

    </md-card-header>
    <md-card-content class="card-content">
      <md-layout :md-gutter="8" style="">
        <md-layout md-flex-xsmall="100" md-flex-medium="80" md-flex-large="80">
          <md-input-container md-inline>
            <label>Select your city</label>
            <md-input style="width: 100px" v-model="city"></md-input>
          </md-input-container>
         
        </md-layout>
        <md-layout md-align="center" md-flex-xsmall="100" md-flex-medium="20" md-flex-large="20">
          <md-button class="md-raised md-primary" @click.native="search">Search</md-button>
        </md-layout>
      </md-layout>
      <md-layout md-gutter v-if="weather.data.city">
        <md-layout class="red" md-flex-xsmall="100" md-flex-small="100" md-flex-medium="33" md-flex-large="33">
          <div md-row style="margin: 0px 0px 0px 100px;">
            <h1>Weather in {{weather.data.city.name}}, {{weather.data.city.country}}</h1>
            <div>
               <img :src="'http://openweathermap.org/img/w/' + weather.data.list['0'].weather['0'].icon + '.png'" style="float: left">
               <h1 style="padding-top: 10px;; width: 200px; text-align: left;">{{weather.data.list[0].main.temp}} ° C</h1>
            </div>
            <div>
               <h2 style="text-align: left;">{{weather.data.list["0"].weather["0"].description}}</h2>
            </div>
          </div>
          <div style="margin: 0px 0px 0px 100px;">
            <md-table style="    border: solid 1px #e0e0e0;">
              <md-table-body>
                <md-table-row>
                  <md-table-cell style="border-right: solid 1px #e0e0e0;">Wind</md-table-cell>
                  <md-table-cell>Velocidade de {{weather.data.list["0"].wind.speed}} m/s</md-table-cell>
                </md-table-row>
                <md-table-row>
                  <md-table-cell style="border-right: solid 1px #e0e0e0;">Cloudiness</md-table-cell>
                  <md-table-cell>{{weather.data.list["0"].weather["0"].description}}</md-table-cell>
                </md-table-row>
                <md-table-row>
                  <md-table-cell style="border-right: solid 1px #e0e0e0;">Pressure</md-table-cell>
                  <md-table-cell>{{weather.data.list["0"].main.pressure}} hpa</md-table-cell>
                </md-table-row>
                <md-table-row>
                  <md-table-cell style="border-right: solid 1px #e0e0e0;">Humidity</md-table-cell>
                  <md-table-cell>{{weather.data.list["0"].main.humidity}}%</md-table-cell>
                </md-table-row>
              </md-table-body>
            </md-table>
          </div>
        </md-layout>

        <md-layout class="forecast" md-flex-xsmall="100" md-flex-small="100" md-flex-medium="67" md-flex-large="67">
          <div >
            <h2 style="height: 10px">5 day weather forecast</h2>
          </div>
          
          <div style="width: 800px">
            <md-table style="width: 600px; border: solid 1px #e0e0e0;">
              <md-table-body>
                <md-table-row>
                  <md-table-cell style="width: 250px">
                    <div>
                      <p style="width: 100px;float:left;padding-top: 15px; font-size: 16px">{{moment(weather.data.list[5].dt_txt).format('ddd DD MMM')}}</p>
                      <img :src="'http://openweathermap.org/img/w/' + weather.data.list['5'].weather['0'].icon + '.png'" style="float: left">
                    </div>
                  </md-table-cell>
                  <md-table-cell style="padding: 8px;
                                        line-height: 1.42857143;
                                        vertical-align: top;
                                        border-top: 1px solid #ddd;">
                    <div style="text-align: left">
                      <span class="label" style="background-color: #f0ad4e;">{{weather.data.list[5].main.temp_max}} °C</span>
                      <span  class="label" style="background-color: #999;">{{weather.data.list[2].main.temp_min}} °C</span>
                      <i>{{weather.data.list["5"].weather["0"].description}}</i>
                      <p>
                        {{weather.data.list["5"].wind.speed}} m/s 
                        <br>
                        Clouds {{weather.data.list["5"].clouds.all}}%, {{weather.data.list["5"].main.pressure}} hpa  
                      </p>
                    </div>
                  </md-table-cell>
                </md-table-row>
                <md-table-row>
                  <md-table-cell style="width: 250px">
                    <div>
                      <p style="width: 100px;float:left;padding-top: 15px; font-size: 16px">{{moment(weather.data.list[13].dt_txt).format('ddd DD MMM')}}</p>
                      <img :src="'http://openweathermap.org/img/w/' + weather.data.list['13'].weather['0'].icon + '.png'" style="float: left">
                    </div>
                  </md-table-cell>
                  <md-table-cell style="padding: 8px;
                                        line-height: 1.42857143;
                                        vertical-align: top;
                                        border-top: 1px solid #ddd;">
                    <div style="text-align: left">
                      <span class="label" style="background-color: #f0ad4e;">{{weather.data.list[13].main.temp_max}} °C</span>
                      <span  class="label" style="background-color: #999;">{{weather.data.list[10].main.temp_min}} °C</span>
                      <i>{{weather.data.list["13"].weather["0"].description}}</i>
                      <p>
                        {{weather.data.list["13"].wind.speed}} m/s 
                        <br>
                        Clouds {{weather.data.list["13"].clouds.all}}%, {{weather.data.list["13"].main.pressure}} hpa  
                      </p>
                    </div>
                  </md-table-cell>
                </md-table-row>
                <md-table-row>
                  <md-table-cell style="width: 250px">
                    <div>
                      <p style="width: 100px;float:left;padding-top: 15px; font-size: 16px">{{moment(weather.data.list[21].dt_txt).format('ddd DD MMM')}}</p>
                      <img :src="'http://openweathermap.org/img/w/' + weather.data.list['21'].weather['0'].icon + '.png'" style="float: left">
                    </div>
                  </md-table-cell>
                  <md-table-cell style="padding: 8px;
                                        line-height: 1.42857143;
                                        vertical-align: top;
                                        border-top: 1px solid #ddd;">
                    <div style="text-align: left">
                      <span class="label" style="background-color: #f0ad4e;">{{weather.data.list[21].main.temp_max}} °C</span>
                      <span  class="label" style="background-color: #999;">{{weather.data.list[18].main.temp_min}} °C</span>
                      <i>{{weather.data.list["21"].weather["0"].description}}</i>
                      <p>
                        {{weather.data.list["21"].wind.speed}} m/s 
                        <br>
                        Clouds {{weather.data.list["21"].clouds.all}}%, {{weather.data.list["21"].main.pressure}} hpa  
                      </p>
                    </div>
                  </md-table-cell>
                </md-table-row>
                <md-table-row>
                  <md-table-cell style="width: 250px">
                    <div>
                      <p style="width: 100px;float:left;padding-top: 15px; font-size: 16px">{{moment(weather.data.list[29].dt_txt).format('ddd DD MMM')}}</p>
                      <img :src="'http://openweathermap.org/img/w/' + weather.data.list['29'].weather['0'].icon + '.png'" style="float: left">
                    </div>
                  </md-table-cell>
                  <md-table-cell style="padding: 8px;
                                        line-height: 1.42857143;
                                        vertical-align: top;
                                        border-top: 1px solid #ddd;">
                    <div style="text-align: left">
                      <span class="label" style="background-color: #f0ad4e;">{{weather.data.list[29].main.temp_max}} °C</span>
                      <span  class="label" style="background-color: #999;">{{weather.data.list[26].main.temp_min}} °C</span>
                      <i>{{weather.data.list["29"].weather["0"].description}}</i>
                      <p>
                        {{weather.data.list["29"].wind.speed}} m/s 
                        <br>
                        Clouds {{weather.data.list["29"].clouds.all}}%, {{weather.data.list["29"].main.pressure}} hpa  
                      </p>
                    </div>
                  </md-table-cell>
                </md-table-row>
                <md-table-row>
                  <md-table-cell style="width: 250px">
                    <div>
                      <p style="width: 100px;float:left;padding-top: 15px; font-size: 16px">{{moment(weather.data.list[37].dt_txt).format('ddd DD MMM')}}</p>
                      <img :src="'http://openweathermap.org/img/w/' + weather.data.list['37'].weather['0'].icon + '.png'" style="float: left">
                    </div>
                  </md-table-cell>
                  <md-table-cell style="padding: 8px;
                                        line-height: 1.42857143;
                                        vertical-align: top;
                                        border-top: 1px solid #ddd;">
                    <div style="text-align: left">
                      <span class="label" style="background-color: #f0ad4e;">{{weather.data.list[37].main.temp_max}} °C</span>
                      <span  class="label" style="background-color: #999;">{{weather.data.list[33].main.temp_min}} °C</span>
                      <i>{{weather.data.list["37"].weather["0"].description}}</i>
                      <p>
                        {{weather.data.list["37"].wind.speed}} m/s 
                        <br>
                        Clouds {{weather.data.list["37"].clouds.all}}%, {{weather.data.list["37"].main.pressure}} hpa  
                      </p>
                    </div>
                  </md-table-cell>
                </md-table-row>
              </md-table-body>
            </md-table>
          </div>
        </md-layout>
      </md-layout>
    </md-card-content>
  </md-card>    
</div>


